doctype 5
html
  head
    title nodeterm
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
    script(src="http://ajax.cdnjs.com/ajax/libs/bunderscore.js/1.1.6/underscore-min.js")
    script(src="http://ajax.cdnjs.com/ajax/libs/backbone.js/0.3.3/backbone-min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js")
  body
    block content
